body{
    overflow-x: hidden
    ;
}
html {
	scroll-behavior:smooth;
}

.carousel-caption {
    
    padding-bottom: 260px;
   
}

/* -------------home------------- */

.home{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) , url(../img/4.jpg) ;
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% center;
    padding: 87px 0px;
}
.home h1{
    color:white
    
}
.home h2{
    color:var(--yellow);
    font-weight: bold;
    font-family: cursive;
}
.home button{
    outline: none;
    padding: 6px 35px;
    color:white;
    background-color: var(--yellow);
    margin-top: 50px;
    font-weight: bold;
    border:none;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
}
.home button:hover{
    background-color:  #5e60ce;
}

#categories h1{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 33px;
}
#categories .container{
    text-align: center;
}

.destination{
    position: relative;
    margin-bottom: 8px;
   
}
#categories img{
  
    width: 274px;
    height: 207px;

    transition: all 0.5s ease-in-out;
  
}


 .yellow{
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
   
    transition: all 0.5s ease-in-out;
    width: 274px;
    height: 207px;

    position: absolute;
    
    top: 0; 
    
    
}
.yellow p{
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
    font-weight: 900;
 
}
.yellow a{
    color: white;
    font-size: 20px;
    font-family: cursive;
}
 .destination:hover .yellow{
    opacity: 1;
}

/* ---------------contact---------------- */
.contact{
    margin-top: 81px;
    background: #ccc;
    background-color: #f8f9fa!important;
    padding: 54px 0px;
    text-align: center;
}
.contact .container{
    max-width: 1140px;
    background: white;
    width: 50%;
    padding: 38px 0px;
}
.contact h3{
    font-size: 21px;
    color: #adb5bd;
    /* letter-spacing: .2em; */
    text-transform: uppercase;
    font-weight: 700;
}
.contact input,textarea{
    outline: none;
   border:none;
    padding: 10px 50px;
    margin-top: 14px;
    border-radius: 25px;
    border: 1px solid #80808070;
}
.contact input[type=submit]{
    font-family: cursive;
    /* width: 23%; */
    background: var(--purple);
    color: white;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}
.contact input[type=submit]:hover{
    background-color: var(--yellow);
   
}


/************** footer *************/
.footer{
    background: var(--gray-dark); 
    /* margin-top: 83px; */

}

.footer span{
    color: white;
    text-transform: uppercase;
    font-size: 23px;
}

.footer p{
    color:white;
    font-size: 17px;
    font-family: cursive;
}
.footer .ri{
    display: flex;
    padding: 35px 0px;
}
.footer input[type=text]{
    padding: 7px 27px;
    border: none;
    outline: none;
}
.footer input[type=submit]{
    cursor: pointer;
    padding: 10px 23px;
    font-weight: bolder;
    background: var(--purple);
    color: white;
    border: none;
    outline: none;
    font-family: cursive;
}
.footer .le{
    padding-top: 23px;
}

  