body{
	padding: 0;
	margin: 0;
}
.page-wrapper {
  min-height: 100vh;
  
}



.bg-gra-01 {
  background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
  background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}
.card{
	border: .5px solid #ffffff00;
	height: 700px;

}
.card1{
	/*border: 2px blue solid;*/
	height: 600px;
	width:60%;
	/*padding-top: 20px;*/
	/*text-align: center;*/
	margin: 30px auto 0;
	border-radius: 5px;

}
.card2{
	float: left;
}
.card-heading{
background: url("../img/5.jpg") top left/cover no-repeat;
  display: table-cell;
  width: 50%;
 
  height: 600px;
  }
  .card-body{
  	 width: 50%;
  	background: #ffffff70;
  	height: 600px;

  }
  .title{
  	text-align: center;
  }
  .input--style-3,select {
  width: 92%;
  padding: 10px;
  margin: 3px 0 15px 5px;
  display: inline-block;
  border: none;
 /* border-bottom: solid 1px black;*/
  background: #f1f1f170;
}

input:focus, select:focus {
  background-color: #dde;
  outline: none;
}
button {
  background-color: #83608a;
  color: white;
  font-size: 20px;
  padding: 14px 15px;
  margin: 10px 0 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 5px;
}